.task-card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%; 
    border-style: solid;
    border-color: black;
}

.task-title {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}

.task-type {
    grid-area: 2 / 1 / 3 / 2;
    text-align: start;
}

.task-assignee {
    grid-area: 2 / 2 / 3 / 3;
    text-align: end;
}